:root {
  color-scheme: light dark;
  color: white;
  background-color: transparent;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
